@import 'elements';

body {
  margin: 0 auto;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    @include scrollStyle
  }
  input {
    @include inputStyle
  }

  select {
    @include inputStyle
  }

  textarea {
    @include inputStyle
    text-align: left;
  }

  button {
    @include buttonStyle
  }

  p {
    @include fontStyle
  }
}
